<!DOCTYPE html>
<html>

<head>
    <title>Sampple</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <!--Custom CSS -->
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <!--    jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Vue development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Axios library -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Load required Bootstrap and BootstrapVue CSS -->
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css"/>

    <!-- Load polyfills to support older browsers -->
    <script src="//polyfill.io/v3/polyfill.min.js?features=es2015%2CIntersectionObserver"
            crossorigin="anonymous"></script>

    <!-- Load Vue followed by BootstrapVue -->
    <script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>

    <!-- Load the following for BootstrapVueIcons support -->
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue-icons.min.js"></script>

</head>

<body class="bg-dark text-light">
<div id="app">
    <nav class="navbar justify-content-between">
        <h1><a href="index.html"> Sampple </a> </h1> <h3>Compare Apple And Samsung Phones</h3>
        <form @submit.prevent="searchPhoneModel">
            <input v-model="search" class="form-control-lg" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
    <h5> Showing {{totalPhones}} Products: </h5>
    Items Per Page: <button @click="setNumItems(2)" class="btn btn-outline-light my-2 my-sm-0">2</button>
    <button @click="setNumItems(4)" class="btn btn-outline-light my-2 my-sm-0">4</button>
    <button @click="setNumItems(8)" class="btn btn-outline-light my-2 my-sm-0">8</button>
    <button @click="setNumItems(16)" class="btn btn-outline-light my-2 my-sm-0">16</button>
    <table class="table text-light bg-dark">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Storage</th>
            <th scope="col">Color</th>
            <th scope="col">Store</th>
            <th scope="col">Price <button @click="sortByPrice()" v-if="ascending" class="btn btn-outline-light my-2 my-sm-0">\/</button> <button @click="sortByPrice()" v-else class="btn btn-outline-light my-2 my-sm-0">/\</button></th>
            <th scope="col">Go To</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="product in products">
            <td> {{product.name}}</td>
            <td> {{product.storage}} GB</td>
            <td> {{product.color}}</td>
            <td> {{product.store}}</td>
            <td> £{{product.price}}</td>
            <td> <button class="btn btn-outline-light my-2 my-sm-0" @click="goToSite(product)">Site</button> </td>
        </tr>
        </tbody>
    </table>
    <div class="buttonContainer">
        <button class="btn btn-outline-light my-2 my-sm-0" @click="goToPage(currentPage-1)"><</button>
        <span v-for="pageNumber in pages">
        <button v-if="currentPage == pageNumber" class="btn btn-outline-light my-2 my-sm-0" @click="goToPage(pageNumber)">  <b>{{pageNumber}}</b> </button>
        <button v-else class="btn btn-outline-light my-2 my-sm-0" @click="goToPage(pageNumber)"> {{pageNumber}} </button>
    </span>
        <button class="btn btn-outline-light my-2 my-sm-0" @click="goToPage(currentPage+1)">></button>
    </div>

</div>
<script>

    var app = new Vue({
        el: '#app',
        data: {
            products: [],
            pages: [],
            currentPage: 0,
            numItems: 0,
            offset: 0,
            phoneModel: '',
            search: '',
            totalPhones: '',
            ascending: true
        },
        methods: {
            //Get all the phones from the web service using Axios.
            loadProducts: function () {
                var localApp = this;
                var url = window.location.href;
                const queries = new URLSearchParams(url);
                let tmpNumItems = queries.get('num_items');
                let tmpOffset = queries.get('offset');
                let tmpModel = queries.get('model');

                localApp.numItems = tmpNumItems === null ? 5 : parseInt(tmpNumItems);
                localApp.offset = tmpOffset === null ? 0 : parseInt(tmpOffset);
                localApp.phoneModel = tmpModel === null ? '' : tmpModel;
                localApp.phoneModel = localApp.phoneModel.replaceAll("\"", ""); //turns the search into a normal string.
                localApp.phoneModel = localApp.phoneModel.replaceAll("%22", " "); //turns the search into a normal string.
                //link for GET req to back end.
                let getRequestLink = '/products?num_items=' + localApp.numItems + "&offset=" + localApp.offset + "&search=" + localApp.phoneModel + "&ascending=" + (localApp.ascending ? "true" : "false");
                console.log(getRequestLink);
                axios.get(getRequestLink)//Send GET request to phones path
                    .then(function (response) {//Request successful
                        //Point phones in data to returned array of phones
                        localApp.products = response.data.products;

                        //create page numbers array
                        localApp.totalPhones = parseInt(response.data.totNumItems);
                        localApp.pages = [];
                        let maxPages = Math.ceil(localApp.totalPhones / localApp.numItems);
                        for (let pageNumber = 1; pageNumber <= maxPages; pageNumber++) {
                            localApp.pages.push(pageNumber + "");
                            //gets current page number
                            if (Math.floor((localApp.offset / localApp.numItems) + 1) == pageNumber)
                                localApp.currentPage = pageNumber;
                        }
                    })
                    .catch(function (error) {
                        //Handle error
                        console.log(error);
                    });
            },
            goToPage(pageNumber) {
                var localApp = this;
                if(pageNumber >= 1 && pageNumber <= localApp.pages.length) {
                    let difference = pageNumber - localApp.currentPage;
                    let newOffset = localApp.offset + (localApp.numItems * difference);
                    location.href = "http://localhost:8080/product.html?&offset=" + newOffset + "&num_items=" + localApp.numItems + "&model=\"" + localApp.phoneModel + "\"";
                }
            },
            searchPhoneModel() {
                location.href = "http://localhost:8080/index.html?&offset=0&num_items=" + this.numItems + "&search=\"" + this.search + "\"";
            },
            setNumItems(numItems) {
                location.href = "http://localhost:8080/product.html?&offset=0&num_items=" + numItems + "&model=\"" + this.phoneModel + "\"";
            },
            goToSite(item) {
                window.open(item.url, '_blank').focus();
            },
            sortByPrice() {
                this.ascending = !this.ascending;
                //Load products from web service again.
                this.loadProducts();
            }
        },
        created: function () {//Vue lifecycle hook, called when data is loaded.
            //Load products from web service
            this.loadProducts();
            //Refresh products every 5 seconds
            setInterval(this.loadProducts, 5000);
        }
    })

</script>
<!--Client side file-->
<script src="./client.js"/>
</body>

</html>